<!DOCTYPE HTML>
<html>
<head>
	<title><%- title %></title>
	<script type="text/javascript" src="../javascripts/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/lib/jquery.hammer.min.js"></script>
	<script type="text/javascript" src="../javascripts/lib/three.min.js"></script>

	<script type="text/javascript" src="../javascripts/lib/THREEx.FullScreen.js"></script>
	<script type="text/javascript" src="../javascripts/lib/detector.js"></script>
	<script type="text/javascript" src="../javascripts/lib/stats.js"></script>

	<script type="text/javascript" src="../javascripts/OculusRiftEffect.js"></script>
	<script type="text/javascript" src="../javascripts/controls/DeviceOrientationControls.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
</head>
<body>
	<div id="aquila" style="">
	</div>

	<div class="controls">
		<button class="fullscreen btn">
			<span class="up icon" id="up">
				&#8599;
			</span>
			<span class="down icon" id="down">
				&#8601;
			</span>
		</button>
	</div>

	<div id="info">
		<div class="button" id="toggle-render">VR Mode</div>
	</div>

	<script type="text/javascript" src="../javascripts/aquila.js"></script>
	<script type="text/javascript" src="../javascripts/main.js"></script>
	<script>
	init({
		$target: $('#aquila'),
		videoURL: '../videos/show.mp4'
	});
	</script>
</body>

</html>
